.work-section {
    padding-top: 0;
}
.work-section__item {
    position: relative;
    width: 370px;
    height: 294px;
    background-color: var(--title-text-color);
}

.work-section__img {
    background-color: var(--title-text-color);
}

.work-section__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.work-section__article {
    position: absolute;
    display: flex;
    width: 370px;
    height: 70px;
    bottom: 0%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
    background: rgba(47, 48, 58, 0.8);
}

.work-section__article--computer {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--white-color);
    /* margin: 27px 107px; */
}