.section {
    padding: 94px 0;

    
}



.studio-logo {
    font-weight: 700;
    font-size: 26px;
    color: var(--accent-color);
}

.header-menu {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--title-text-color);
}

.main-title {

    font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--title-text-color);
    
        width: 696px;
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 30px;

@media screen and(max-width: $mobile) {

    width: 360px;
        height: 84px;
        margin-bottom: 30px;
    

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        /* or 162% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;

    }

     
    
}

.main-section {
max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/fone-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

   

         
}

.overlay{


    @media screen and(max-width: $mobile) {
        width: 360px;
            height: 164px;
            margin: 40px 60px;
        
    }
}

.sections-title {
    line-height: 1.17;
    font-size: 36px;
    color: var(--primary-text-color);
    margin-bottom: 50px;
    text-align: center;


    @media screen and(max-width: $mobile) {
          margin-top: 20px;
    
        }
}