.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: ease;
    visibility: hidden;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;

    background: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    cursor: pointer;
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: var(--background-color);
    transition-duration: 250ms;
    transition-timing-function: scale(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    color: var(--background-color);
}

.modal-close__icon {
    fill: currentColor;
}

/* -------------- madal form -------------- */
textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition-property: var(--background-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
    width: 528px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.form-field {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--paragraf-color);
}

.form-lable {
    margin-bottom: 4px;
}

.form-input {
    position: relative;
    display: inline;
}

.form-input__name {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: var(--background-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.form-input__name:focus {
    border: 1px solid var(--background-color);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input__name:focus~.form-name__icon {
    fill: var(--background-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    transition-property: var(--background-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
}

textarea:focus {
    border: 1px solid var(--background-color);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-policy {
    color: var(--background-color);
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--title-text-color);
    background: var(--background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: hidden;
    cursor: pointer;
    text-align: center;
    transition-property: backround-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background: var(--title-text-color);
    color: var(--background-color);
    transition-property: backround-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.label-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 24px;
}

.form-checkbox__icon {
    display: inline-block;
    padding-top: 2px;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    align-items: center;
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    fill: currentColor;
}

.form-checkbox:checked+.form-checkbox__icon {
    border-color: var(--background-color);
    background-color: var(--background-color);
    background-image: url("../images/icon-check-form.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

.coments {
    margin-bottom: 20px;
}

.form-text__policy {
    display: flex;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
    margin-bottom: 30px;
    justify-content: center;
}

.form-accept__policy {
    margin-left: 2px;
    color: var(--background-color);
}