body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: "Roboto";
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}